<mat-card>
  <mat-card-content>
    <mat-form-field class="full-width">
      <input matInput placeholder="Name" [(ngModel)]="name" />
    </mat-form-field>
    <article class="flex justify-center mb-4">
      <mat-slide-toggle [(ngModel)]="status" color="primary">{{
        status ? "Alive" : "Dead"
      }}</mat-slide-toggle>
    </article>
    <button
      class="full-width"
      mat-raised-button
      color="primary"
      (click)="editCharacter()"
      [disabled]="!name"
    >
      Done
    </button>
  </mat-card-content>
</mat-card>
